include blocks/head-service/head
include common/mixins
include common/js


body
	.layout_center_wrapper-project
		header.header
			+top-line-inner()
			.container
				.row
					.col-12
						.header-innner-wrapper
							.col-lg-6.col-md-6.col-sm-6.col-12.p-0
								.header__chisel.chisel
									|MICROXPERTS
								h1.header__title
									|Компьютеры
									br
									|для любых задач
								.header__subtitle
									|Все серии компьютеров MicroXperts имеют сбалансированные конфигурации и современный дизайн.
									br
									| Все системные блоки MicroXperts собираются на базе высококачественных компонентов ASUS, проходят предпродажное тестирование и имеют 3 года полной гарантии.
								a(href="https://www.ulmart.ru/catalog/brand_computers", class="header__btn", target="_blank") Выбрать компьютер
		main.main-section.main-section-inner
			.container
				.row
					.col-12
						h2.main__title-inner
							|История бренда MicroXperts
						h3.main__title-subtitle
							|2016 год
						p.main__text-inner
							|С 2016 года запущена новая линейка игровых ПК совместно с мировым производителем комплектующих ASUS - компьютеры Powered by Asus.Осенью 2016 года Музей высоких технологий переезжает на новую площадку где количество экспонатов увеличивается в разы. Впервые, в 2016 году бренд выступил техническим партнёром разработчика и локализатора компьютерных и консольных игр СофтКлаб на Игромире 2016.
						h3.main__title-subtitle
							|2015 год
						p.main__text-inner
							|Ведется плотная работа по росту узнаваемости бренда среди геймеров, активно взаимодействуя с популярными блогерами, такими как: Дмитрий Юрьевич Пучков (Гоблин), Константин Заруцкий (Академик), SHIMORO.
						h3.main__title-subtitle
							|2014 год
						p.main__text-inner
							|Cтал плодотворным годом для развития компьютеров Е-серии (Home): расширение ассортиментной линейки, вывод новых моделей, переход на новые платформы моноблоков. 
						h3.main__title-subtitle
							|2013 год
						p.main__text-inner
							|В модельном ряду MicroXperts появляются современные моноблоки, ультрабуки и ноутбуки. Компания первой в России создаёт полноценный суперкомпактный компьютер на базе платформы Intel NUC. Обновлена стратегия компании. Принято решение наравне с существующими принципами сосредоточиться на развитии сервисов и поддержке клиентов, а также на расширении ассортимента качественных устройств в смежных категориях компьютерной техники. В связи с этим MicroXperts проводит ребрендинг торговой марки. В новом фирменном стиле основным оттенком стал белый, что символизирует идею чистоты, технологичности и открытости бренда для своих клиентов. Логотип стал более современным и узнаваемым.
						section.hidden-section
							h3.main__title-subtitle
								|2012 год
							p.main__text-inner
								|В связи с ростом компании руководство принимает решение о переезде на новую производственную площадку. Благодаря этому MicroXperts смог решить важные задачи: увеличить количество и качество выпускаемой продукции и диверсифицировать производство. Сборка, тестирование, хранение комплектующих и готовой продукции MicroXperts вышли на новый уровень. В декабре MicroXperts и компания Юлмарт реализуют совместный проект – создают первый в Санкт-Петербурге Музей высоких технологий. Музей находится в кибермаркете Юлмарт на Кондратьевском проспекте и открыт круглосуточно, семь дней в неделю. По итогам года компания реализовала более 40 000 персональных компьютеров – это в два раза больше, чем в 2011 году.
							h3.main__title-subtitle
								|2011 год
							p.main__text-inner
								|В феврале на должность главного инженера MicroXperts приходит Дмитрий Родионов – капитан команды по оверклокингу (процесс, направленный на достижение максимальной производительности компьютерных комплектующих) Team Russia, которая занимает первое место в мировом рейтинге. Он отвечает за разработку оптимальной конфигурации каждого устройства, выпускаемого под брендом MicroXperts. MicroXperts осваивает новые рынки: бренд активно продвигается в Москве и регионах России. По итогам года оборот компании вырос в два раза.
							h3.main__title-subtitle
								|2010 год
							p.main__text-inner
								|Этот год стал одним из самых важных для MicroXperts. Руководство компании вырабатывает ряд принципов, которые легли в основу производства персональных компьютеров под брендом MicroXperts: 
								ul.main__list
									li.main__list-item &mdash; тестирование полного цикла для каждого устройства, на котором стоит логотип MicroXperts. Если в комплектующем обнаружена неполадка, то весь компьютер снимают с производства, и он не поступает в продажу;
									li.main__list-item &mdash; три года гарантии на всю продукцию MicroXperts;
									li.main__list-item &mdash; использование комплектующих только ведущих производителей. При этом также учитывается гарантийная статистика Юлмарта: если комплектующие того или иного вендора слишком часто сдают на гарантию, то они не используются в компьютерах MicroXperts.
							h3.main__title-subtitle
								|2009 год
							p.main__text-inner
								|Бренд MicroXperts приобретает ЗАО «Юлмарт» – ритейлер, специализирующийся на электронике, компьютерной и бытовой технике. Начинается новый этап развития бренда. Разрабатывается новая модельная линейка персональных компьютеров с учётом потребностей разных категорий пользователей – от сотрудника офиса до опытного геймера.
							h3.main__title-subtitle
								|1993 год
							p.main__text-inner
								|MicroXperts переезжает в Россию. Новая штаб-квартира открывается в Санкт-Петербурге, и появляется одно из самых крупных производств персональных компьютеров на территории бывшего СССР. Более 15 лет MicroXperts специализируется на поставке компьютеров и готовых решений для муниципальных органов, вузов и крупных компаний.
							h3.main__title-subtitle
								|1987 год
							p.main__text-inner
								|В США открывается MicroXperts – компания по производству персональных компьютеров. В короткие сроки бренд становится популярным в Америке: компьютеры MicroXperts были современными, качественными и легко модернизировались. При этом свою ценовую политику молодая компания выстраивала так, чтобы десктопы могли приобрести семьи со средним достатком и начинающие предприниматели.
						a(href="#", class="main__btn__inner js-show-date", target="_blank") Подробнее
						#guarantee
							h2.main__title-inner.mt-5
								|3 года полной гарантии
							img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/service-icon-1.png", alt="", class="main__icon")
							strong
								|Почему MicroXperts даёт 3 года полной гарантии?
							p.main__text-inner
								|У нас работают квалифицированные специалисты, мы используем лучшие комплектующие и тщательно собираем и тестируем каждое устройство. Поэтому мы на 100% уверены в качестве своего продукта и можем предложить 3 года гарантии на все компьютеры и моноблоки MicroXperts.
							p.main__text-inner
								|ВАЖНО: На ноутбуки MicroXperts распространяется гарантия 2 года.
							p.main__text-inner
								|При этом 3 года гарантии на первоначальные комплектующие сохраняются даже в том случае, если вы сделаете самостоятельный апгрейд. А если гарантия производителя составляет больше трёх лет, то она сохраняется и после того, как истёк срок гарантии MicroXperts.
							strong
								|Три года – это тот оптимальный срок, который позволяет убедиться в надёжности нашей компьютерной техники.
						#accessories
							h2.main__title-inner.mt-5
								|Только качественные комплектующие
							img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/service-icon-2.png", alt="", class="main__icon")
							strong
								|Принципы отбора комплектующих
							p.main__text-inner
								|Благодаря долгосрочной практике и богатому опыту для своей продукции MicroXperts выбирает только комплектующие ведущих мировых производителей. Их отбор проходит в несколько этапов. Сначала мы проводим тщательный анализ гарантийной статистики наших партнёров: Intel, Asus, Kingston, MSI, Gigabyte, Western Digital, Seagate, Crucial, Corsair, Cooler Master, Thermaltake, Zalman. Затем образцы деталей отправляются в отдел технического контроля, где их проверяет автоматическая система тестирования. На последнем этапе лучшие специалисты лаборатории MicroXperts проводят персональную проверку каждого готового продукта.
							strong
								|Тщательный анализ и тестирование каждой детали – основа высокого качества наших продуктов. Мы предлагаем только лучшее!
						#moneyback
							h2.main__title-inner.mt-5
								|7 дней на безусловный возврат и 30 дней Moneyback
							img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/service-icon-3.png", alt="", class="main__icon")
							strong
								|Возьми компьютер на тест-драйв
							p.main__text-inner
								|Для многих выбор компьютера – сложный и непонятный процесс. Подобрать то, что нужно именно вам, не переплачивая за ненужные функции и не купив при этом слишком слабый ПК, – задача не из лёгких.
							p.main__text-inner
								|Понимая это, мы идём вам навстречу и предлагаем провести тест-драйв любой конфигурации компьютера в течение 7 дней. Если по каким-либо причинам она вам не подошла, то просто верните её обратно или обменяйте на другую модель. Также, в течение 30 дней с момента покупки у вас есть возможность вернуть технику по Moneyback.
							p.main__text-inner
								|При этом товар должен быть: 
							ul.main__list
								li.main__list-item &mdash; в исправном состоянии;
								li.main__list-item &mdash; в полной комплектации;
								li.main__list-item &mdash; без повреждений.
							p.main__text-inner
								|Вернуть компьютер MicroXperts можно в любой гарантийный отдел кибермаркета Юлмарт.
							strong
								|Данный сервис позволит вам найти именно ваш компьютер. Вам не придётся привыкать к особенностям техники и адаптировать её для своих целей. Мы предлагаем вам выбрать именно то, что вам надо.
						#modification
							h2.main__title-inner.mt-5
								|Гибкая модификация
							img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/service-icon-4.png", alt="", class="main__icon")
							strong
								|Собери свой компьютер
							p.main__text-inner
								|Корпоративным клиентам мы предлагаем заказать индивидуальные конфигурации компьютеров под ваши задачи с сохранением всех преимуществ MicroXperts. Более подробную информацию можно получить у вашего персонального менеджера.
							strong
								|Создавайте свой собственный MicroXperts, а мы соберем его для вас!
		hr.main-section-hr



	+footer-text()


	include blocks/footer-service/footer-service