include blocks/head-service/head
include common/mixins
include common/js


body
	.layout_center_wrapper-project
		header.header
			+top-line()
			.container
				.row
					.col-12
						.header-innner-wrapper
							.col-lg-6.col-md-6.col-sm-6.col-12.p-0
								.header__chisel.chisel
									|MICROXPERTS
								h1.header__title
									|Компьютеры
									br
									|для любых задач
								.header__subtitle
									|Все серии компьютеров MicroXperts имеют сбалансированные конфигурации и современный дизайн.
									br
									| Все системные блоки MicroXperts собираются на базе высококачественных компонентов ASUS, проходят предпродажное тестирование и имеют 3 года полной гарантии.
								a(href="https://www.ulmart.ru/catalog/brand_computers", class="header__btn", target="_blank") Выбрать компьютер
		main.main-section
			.container
				.row
					.col-lg-5.col-md-5.col-sm-6.col-12
						.main__left
							img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/comp-1.png", alt="", class="main__picture")
					.col-lg-6.col-md-6.col-sm-6.col-12
						.main__right
							h2.main__title
								|Офисные компьютеры
							p.main__text
								|Офисные компьютеры MicroXperts созданы для решения офисных задач любой сложности. Строгий и эргономичный дизайн, бесшумность, только проверенные и качественные компоненты - всё это гарантирует комфортную работу на компьютерах MXP. Все системные блоки MicroXperts собираются на базе высококачественных компонентов ASUS, проходят предпродажное тестирование и имеют 3 года полной гарантии.
							a(href="http://www.ulmart.ru/catalog/ofisnye_kompyutery", target="_blank", class="main__btn") Смотреть ВСЕ
				.row
					.offset-lg-1.offset-md-1.offset-sm-1.col-lg-6.col-md-6.col-sm-6.col-12
						.main__right
							h2.main__title
								|Домашние компьютеры
							p.main__text
								|Домашние компьютеры MicroXperts предназначены для выполнения повседневных задач и развлечения. Большой объём памяти позволит хранить все ваши фотографии и видео, слушать любимую музыку и смотреть фильмы в высоком разрешении, а благодаря производительным комплектующим можно запускать большинство современных игр. Все системные блоки MicroXperts собираются на базе высококачественных компонентов ASUS, проходят предпродажное тестирование и имеют 3 года полной гарантии.
							a(href="http://www.ulmart.ru/catalog/domashnie_kompyutery", target="_blank", class="main__btn") Смотреть ВСЕ
					.col-lg-5.col-md-5.col-sm-6.col-12
						.main__left
							img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/comp-2.png", alt="", class="main__picture")
				.row
					.col-lg-5.col-md-5.col-sm-6.col-12
						.main__left
							img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/comp-3.png", alt="", class="main__picture")
					.col-lg-6.col-md-6.col-sm-6.col-12
						.main__right
							h2.main__title
								|Компактные компьютеры
							p.main__text
								|Мини-ПК от MicroXperts сочетает в себе высокую производительность полноценного компьютера и компактные размеры, которые позволят разместить его на рабочем столе или около телевизора в вашей гостиной. Такое устройство поможет увеличить рабочее пространство в офисе, а также может стать медацентром. 
							a(href="http://www.ulmart.ru/catalog/brand_computers?applied=true&extended=true&filters=33745%3A285490%2C285497%2C302095%3Bactive%3A33745%2C33745%2C33745&brands=&jdSuppliers=&warranties=&bargainTypes=&receiptTime=&priceColors=&shops=&labels=&available=false&reserved=false&suborder=false&rec=false&superPrice=false&showCrossboardGoods=false&showUlmartGoods=false&specOffers=false&availableCounts=", target="_blank", class="main__btn") Смотреть ВСЕ
				.row
					.offset-lg-1.offset-md-1.offset-sm-1.col-lg-6.col-md-6.col-sm-6.col-12
						.main__right
							h2.main__title
								|Игровые компьютеры
							p.main__text
								|Игровые компьютеры MicroXperts отличаются идеальным сочетанием высокой производительности, качества и надёжности, которое позволит вам с головой окунуться в виртуальные миры любимых компьютерных игр. Все системные блоки MicroXperts собираются на базе высококачественных компонентов ASUS, проходят предпродажное тестирование и имеют 3 года полной гарантии.
							a(href="http://www.ulmart.ru/catalog/igrovye_kompyutery", target="_blank", class="main__btn") Смотреть ВСЕ
					.col-lg-5.col-md-5.col-sm-6.col-12
						.main__left
							img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/comp-4.png", alt="", class="main__picture")
				.row
					.col-lg-5.col-md-5.col-sm-6.col-12
						.main__left
							img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/comp-5.png", alt="", class="main__picture")
					.col-lg-6.col-md-6.col-sm-6.col-12
						.main__right
							h2.main__title
								|Powered by ASUS
							p.main__text
								|Игровые компьютеры MicroXperts Powered by ASUS &mdash; это специальная серия, спроектированная для получения максимального удовольствия от игр. Самые высокопроизводительные комплектующие от ASUS позволят вам насладиться всеми современными играми на максимальных настройках. Все системные блоки MicroXperts собираются на базе высококачественных компонентов ASUS, проходят предпродажное тестирование и имеют 3 года полной гарантии. Игровые компьютеры MicroXperts Powered by ASUS &mdash; лучший выбор для любого геймера!
							a(href="http://www.ulmart.ru/catalog/brand_computers?applied=true&extended=true&filters=39804%3A440809%3Bactive%3A39804&brands=&jdSuppliers=&warranties=&bargainTypes=&receiptTime=&priceColors=&shops=&labels=&available=false&reserved=false&suborder=false&rec=false&superPrice=false&showCrossboardGoods=false&showUlmartGoods=false&specOffers=false&availableCounts=", target="_blank", class="main__btn") Смотреть ВСЕ


		section.service-section
			.container
				.row
					.service__chisel.chisel
						|СЕРВИСЫ MICROXPERTS
					.offset-lg-1.offset-md-1.col-lg-2.col-md-2.col-sm-3.col-6
						.service-item
							.service__img
								img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/service-icon-1.png", alt="")
							a(href="https://www.ulmart.ru/dynamic/page/mxp-about#guarantee", class="service__link", target="_blank") 3 года полной гарантии 
					.col-lg-2.col-md-2.col-sm-3.col-6
						.service-item
							.service__img
								img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/service-icon-2.png", alt="")
							a(href="https://www.ulmart.ru/dynamic/page/mxp-about#accessories", class="service__link", target="_blank") Только качественные комплектующие
					.col-lg-2.col-md-2.col-sm-3.col-6
						.service-item
							.service__img
								img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/service-icon-3.png", alt="")
							a(href="https://www.ulmart.ru/dynamic/page/mxp-about#moneyback", class="service__link", target="_blank") Безусловный возврат и Moneyback 
					.col-lg-2.col-md-2.col-sm-3.col-6
						.service-item
							.service__img
								img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/service-icon-4.png", alt="")
							a(href="https://www.ulmart.ru/dynamic/page/mxp-about#modification", class="service__link", target="_blank") Гибкая модификация
					//- .col-lg-2.col-md-2.col-sm-3.col-6
					//- 	.service-item
					//- 		.service__img
					//- 			img(src="https://fast.ulmart.ru/ns/verstka/microxperts/img/service-icon-3.png", alt="")
					//- 		a(href="http://www.ulmart.ru/dynamic/page/rassrochka-komputery", class="service__link", target="_blank") Рассрочка
	+footer-text()


	include blocks/footer-service/footer-service
