/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (min-width : 992px) and (max-width : 1200px) {
	.nav__item{
		margin-right: 14px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.mob__nav{
		display: block;
		position: absolute;
    top: -30px;
    right: 20px;
    width: 25px;
    height: 21px;
    cursor: pointer;
    z-index: 5;
    &__item{
			display: block;
			width: 100%;
			height: 5px;
			margin-top: 4px;
			background-color: #FFF;
			border-radius: 25px;
    }
	}
	.nav{
		display: none;
		position: relative;
		width: 100%;
		&__list{
			text-align: right;
			position: absolute;
			right: 0;
			z-index: 1000;
			background: #192023;
			padding: 10px 40px;
		}
		&__item{
			display: block;
			margin-right: 0;
		}
	}
	.show__nav__header {
    display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

@media only screen and (max-width : 600px){
	.main__picture{
		display: none;
	}
	.main__btn{
		margin-bottom: 0;
	}
	.header__title{
		font-size: 44px;
		line-height: 44px;
	}
	.social__list{
		justify-content: center;
	}
	.footer__logo{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.service-item{
		margin-bottom: 20px;
	}
	.header-innner-wrapper{
		padding: 30px 0 0px;
		background-position: center center;
	}
	.main-section{
		padding: 0;
	}
	.main-section-inner{
		padding: 20px 0;
	}
	.main__right{
		padding: 20px 0;
	}
	.main__title{
		margin-bottom: 10px;
	}
	.footer__logo{
		display: block;
		text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
